# Nome da sua aplicação no painel do Discloud
NAME=Kanary-Backend

# Define o tipo como Java, para satisfazer o validador inicial
TYPE=java

# Caminho para o arquivo JAR que será gerado após o Discloud compilar seu projeto.
# Precisamos informar o caminho exato a partir da raiz.
MAIN=server/target/kanary-0.0.1-SNAPSHOT.jar

# Versão do Java, conforme seu pom.xml
VERSION=21

# Memória RAM inicial
RAM=1024
